-
  var atHomeContent = [
    {title: "Первый контакт", description: "Невероятная история про гиперреальность.<br>Погрузись в нашу «матрицу» и помоги спасти мир!", image: "./img/preview-image-1.png"},
    {title: "Перед лицом пандемии", description: "Вам удалось перенестись в начало 2019, когда мир ещё не знал о слове COVID-19. Предотвратишь пандемию?", image: "./img/preview-image-1.png"}
  ]
  var inCityContent = [
    {title: "Интересные места Смоленска", description: "Невероятная история про гиперреальность. Погрузись в нашу «матрицу» и помоги спасти мир!", image: "./img/preview-image-1.png"},
    {title: "Перед лицом пандемии", description: "Вам удалось перенестись в начало 2019, когда мир ещё не знал о слове COVID-19. Предотвратишь пандемию?", image: "./img/preview-image-1.png"}
  ]

.content
  .wrapper
    .container
      .content__title !{contentTitle}
      .content__top-description.content__description !{contentTopText}

      .content__wrapper
        for i in atHomeContent
          .content__preview.content__preview--home
            img.content__preview-image(alt="Превью квеста", src=i.image)
            h3.content__preview-title !{i.title}
            p.content__preview-text !{i.description}

      .content__middle-description.content__description !{contentMiddleText}
      .content__wrapper
        for i in inCityContent
          .content__preview.content__preview--city
            img.content__preview-image(alt="Превью квеста", src=i.image)
            h3.content__preview-title !{i.title}
            p.content__preview-text !{i.description}

      a.content-link(href="https://waym.app/") Перейти ко всем квестам



